/*font-family: 'Barlow', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Space Grotesk', sans-serif;
 */

:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --tertiary-color: #fcda05;
  --background-color: #faf9f0;
  --button-hover-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 75px;
}

h2 {
  color: var(--secondary-color);
  font-size: 30px;
}

p {
  color: var(--secondary-color);
  font-family: "Barlow", sans-serif;
}

.hero p {
  margin: 35px 80px 0px;
}

.hero {
  background: radial-gradient(
    circle at 3% 4.8%,
    rgb(169, 224, 127) 0%,
    rgb(248, 247, 121) 86.6%
  );
  /*background-color: var(--background-color); */
  padding: 100px;
  text-align: center;
}

.primary-button {
  color: var(--background-color);
  background-color: var(--primary-color);
  margin-top: 40px;
  padding: 10px 15px;
}

.primary-button:hover {
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: all 200 ease-in-out;
}
